body{
  background-image: url('confectionary.png');
  padding: 0;
  margin: 0;
  width: 1200px;
}

h1{
  font-size: 40px;
}

header{
  width: 100%;
  background-color: #79BD8F;
  margin: 0;
  padding: 30px 0;
  position: fixed;
  z-index: 2;
}

*{
  font-family: 'Lato', sans-serif;
}

h1{
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

main{
  margin-top: 100px;
  width: 800px;
  float: left;
  margin-left: 20px;
}

.searchTerms{
  width: 200px;
  margin: 0;
  margin-top: 100px;
  margin-left: 20px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchTerms div{
  margin: 20px 0;
}

.searchTerms button{
  width: 150px;
  height: 30px;
  font-size: 18px;
  color: white;
  background-color: #79BD8F;
  border-radius: 5px;
  border: 1px solid black;
}

.searchTerms button:hover{
  color: #79BD8F;
  background-color: white;
}

.singleTea {
  background-color: #BEEB9F;
  width: 300px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  float: left;
  margin: 20px;
  position: relative;
}

.singleTea .image{
  margin: 25px 0 15px 0;
  width: 230px;
}

.image p{
  font-size: 11px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.teaDetails{
  list-style: none;
  text-align: right;
  position: absolute;
  top: 0px;
  right: -20px;
  width: 150px;
}

li{
  background-color: #79BD8F;
  width: 60px;
  margin-top: 20px;
  margin-left: 90px;
  font-weight: bold;
}

li:first-of-type{
  width: 175px;
  margin-left: -25px;
  font-size: 20px;
  font-weight: lighter;
}

.moreInfo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shoppingCart {
  position: absolute;
  z-index: 1;
  left: 250px;
  top: 120px;
  width: 700px;
  height: auto;
  background-color: #FFFF9D;
  border-radius: 15px;
  box-shadow: 20px 20px 5px 5px rgba(0, 0, 0, 0.25);
}

.shoppingCart h2{
  margin-left: 20px;
  font-size: 30px;
}

.shoppingCart > div{
  width: 90%;
  margin: 20px 5%;
  height: 200px;
  background-color: white;
}

.shoppingCart > p{
  margin-left: 20px;
}

.emptyShopCart{
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopCartTea{
  display: flex;
  justify-content: space-between;
}

.leftSide{
  width: 75%;
  margin: 0;
}

.leftSide h4{
  margin-left: 15px;
}

.leftSide img{
  height: 120px;
  float: left;
}

.leftSide p{
  float: left;
  width: 30%;
  height: 50%;
  margin: 0;
}

.rightSide{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.rightSide *{
  margin-right: 15px;
}

.rightSide input{
  width: 30%;
  height: 30px;
  font-size: 24px;
  text-align: right;
}

.remove{
  background-color: red;
  color: white;
  height: 20px;
  border: none;
  border-radius: 3px;
}

.remove:hover{
  background-color: white;
  color: red;
}
