<h1>Howdy Partner!</h1>

<div class="searchTerms">
  <label for="">Search By Tea Categories</label>
  <select ng-model="searchableCategory">
    <option value=""></option>
    <option ng-repeat='category in teaCategories' value="{{category}}">{{category}}</option>
  </select>
  <label for="">Search by Team Name</label>
  <input type="text" ng-model='searchableName' name="name" value="">

</div>

<div ng-repeat='tea in items | filter: {categories: searchableCategory, name: searchableName}' class='singleTea'>
  <div class="image">
    <img ng-src='{{tea.imageUrl}}' alt="" />
    <p>
      {{tea.ingredients}}
    </p>
  </div>
  <div class="moreInfo">
    <select class="" name="">
      <option ng-repeat='i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]' value="{{i}}">{{i}}</option>
    </select>
    <button type="button" name="button">Add To Cart</button>
    <p>
      {{tea.caffeineScale}}
    </p>
    <p>
      {{tea.inStock ? "Available" : "Not Available"}}
    </p>
  </div>
  <ul class='teaDetails'>
    <li><h3>{{tea.name}}</h3></li>
    <li>{{tea.price / 100 | currency}}</li>
  </ul>
</div>
